html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color: black;
}
canvas {
  padding: 20px;
  margin: auto;
  display: block;
  border-style: dashed;
  border-color: #f7d29e;
}

button {
  margin: auto;
  display: block;
}

.randomizerButton {
  padding: 20px;
  background-color: #f7d29e;

}
.font {
  textFont: egyptian_nights_font
}
